* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  color: white;
  height: 100vh;
  overflow: hidden;
}

.section {
  display: none;
  height: 100vh;
  text-align: center;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section.active {
  display: flex;
}

h1, h2 {
  margin-bottom: 25px;
}

button {
  padding: 12px 24px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  background: white;
  color: #ff4f8b;
  cursor: pointer;
  font-size: 1rem;
}

.photo {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 20px;
}

/* POPUP */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-box {
  background: white;
  color: #ff4f8b;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  max-width: 300px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #ff5f9e;
  padding: 28px;
  border-radius: 25px;
  text-align: center;
}
